<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SimpleServletProject</display-name>
  
  
 <servlet>
 	<servlet-name>xmlServlet</servlet-name>
 	<servlet-class> org.toufiq.javabrains.XmlServlet</servlet-class>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>xmlServlet</servlet-name>
 	<url-pattern>/xmlServletpath</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>sadyServlet</servlet-name>
 	<servlet-class>org.toufiq.javabrains.SadyServlet</servlet-class>
 	<init-param>
 		<param-name>xmlPeram</param-name>
 		<param-value>TESTVALUE</param-value>
 	</init-param>
 </servlet>
 <servlet-mapping>
 	<servlet-name>sadyServlet</servlet-name>
 	<url-pattern>/sadyServletPath</url-pattern>
 </servlet-mapping>
 
 <servlet>
 	<servlet-name>initparamtest</servlet-name>
 	<jsp-file>/initpage.jsp</jsp-file>
 	<init-param>
 		<param-name>defaultuser</param-name>
 		<param-value>Md. Toufiqul Islam</param-value>
 	</init-param>
 </servlet>
 
 <servlet-mapping>
 	<servlet-name>initparamtest</servlet-name>
 	<url-pattern>/initpage.jsp</url-pattern>
 </servlet-mapping>
 
 
</web-app>